@use 'variables/responsive' as r;


.hero-box {
  @include r.medium {
    position: relative;
  }

  & .hero-box-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    background-image: url('images/hero-box-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    padding-top: 30px;
  
    @include r.x-large {
      grid-template-columns: 3fr 2fr;
      padding-top: 50px;
    }
    @include r.large {
      padding-top: 40px;
      background-size: 35%;
    }
    @include r.medium {
      background: none;
      grid-template-columns: 2fr 1fr;
    }

    @include r.small {
      grid-template-columns: 8fr 1fr;
    }
  
    & .title-button-wrapper {
      display: flex;
      flex-wrap: wrap;
      row-gap: 40px;
  
      & .title-wrapper {
        & .launching-soon {
          color: #ff3998;
        }
  
        & .page-title {
          font-size: 82px;
          font-weight: 900;
          line-height: 1.2;
          padding-bottom: 24px;
        
          @include r.x-large {
            font-size: 65px;
          }
          @include r.large {
            font-size: 48px;
          }
        }
      }
    }
  }

  &::after {
    @include r.medium {
      content: '';
      background-image: url('images/hero-box-img.png');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 200px;
      height: 278px;
      top: 0px;
      left: 350px;
    }
    @include r.x-small {
      left: 270px;
    }
  }
}